# Dependencies
/node_modules
/.pnp
.pnp.*

# Tests
/coverage
/.resume-build/

# Next.js output
/.next/
/out/

# Local files
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
!.env.example

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo
